@import './base.css';

:root {
  --main-yellow: #ffb928;
  --header-height: 90px;
  --footer-height: 60px;
}

.container {
  box-sizing: border-box;
  /* border: solid 10px green; */
  width: 1024px;
  margin: 0 auto;
  padding: 10px;
}

body {
  font-family: Arial;
}

h1 {
  margin: 20px 0;
  font-size: 32px;
  font-weight: bold;
  text-decoration: underline;
}

h2 {
  display: flex;
  align-items: center;
  font-size: 26px;
  font-weight: bold;
}

p {
  line-height: 18px;
  font-size: 16px;
}

span {
  color: var(--main-yellow);
}
